.button,
button{
	.bgWhite();
	border: 1px solid @Grey-1;
	.border-radius(@rad:50px);
	.fBlack();
	.FB();
	text-align: center;
	margin: 0;
	width: auto;
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	&:hover,
	&:focus,
	&:active{	
		text-shadow: none;
		text-decoration: none;
		outline-offset: 0;
		.bgWhite();
		.fBlack();
		color: inherit;
	}
	i{
		.fWhite();
		display: flex;
		&:before{
			color: inherit;
		}
	}
	span{
		direction: ltr;
		height: 0;
		text-indent: -999em;
	}
}
.button-circle{
	.border-radius(@rad:50%);
}
.button-circle-grey{
	border: 1px solid @Grey-1;
	.border-radius(@rad:50%);
}
.button-circle-orange{
	.border-radius(@rad:50%);
	.bgOrange();
}
.button-file-to-upload{
	&:hover,
	&:focus,
	&:active{
		.bgBlack();
		.fWhite();
	}
}
.navigation-activities{
	text-align: center;
	button{
		.bgOrange();
		border: none;
		padding: 0;
		.Margin(15);
		text-align: center;
		.Height(35);
		.Width(35);
		.lineHeight(35);
		i{
			display: block;
			.fontSize(14);
			&:before{
				font-size: inherit;
			}
		}
	}
}
.button-add-to-estimate,
.button-return-back{
	.fBlack();
	.FB();
	&:hover,
	&:focus{
		.fBlack();
	}
	i{
		color: inherit;
		&:before{
			color: inherit;
		}	
	}	
}
.button-return-back{
	.FR();
}
@media screen and (max-width : 576px){

}
@media screen and (min-width : 768px){
	

}
@media screen and (min-width : 992px){

}
@media screen and (min-width : 1200px){

}