.button,
button{
	.bgWhite();
	border: 1px solid @Grey-1;
	.border-radius(@rad:50px);
	.fBlack();
	.FB();
	text-align: center;
	margin: 0;
	width: auto;
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	&:hover,
	&:focus,
	&:active{
		text-shadow: none;
		text-decoration: none;
		outline-offset: 0;
	}
	i{
		.fWhite();
	}
	span{
		display: block;
	}
}
.button-circle{
	.border-radius(@rad:50%);
}
.button-circle-grey{
	border: 1px solid @Grey-1;
	.border-radius(@rad:50%);
}
.button-circle-orange{
	.border-radius(@rad:50%);
	.bgOrange();
}
.button-file-to-upload{
	&:hover,
	&:focus,
	&:active{
		.bgBlack();
		.fWhite();
	}
}
@media screen and (max-width : 576px){

}
@media screen and (min-width : 768px){
	

}
@media screen and (min-width : 992px){

}
@media screen and (min-width : 1200px){

}