footer{
	.bgOrange();
	.fWhite();
	.FB();
	.fontSize(14);
	.Padding(30, 15);
	li{
		display: inline-block;
		.Padding(0, 10);
	}
	a{
		color: inherit;
		&:hover,
		&:focus{
			color: inherit;
		}
		&:first-of-type{
			.PaddingLeft(0);
		}
		&:last-of-type{
			.PaddingRight(0);
		}
	}
}
@media screen and (min-width : 576px){
}
@media screen and (min-width : 768px){
}
@media screen and (min-width : 992px){
}
@media screen and (min-width : 1200px){
	.Padding(30, 0);
}
@media screen and (min-width : 1400px){
}
@media screen and (min-width : 1800px){
}
@media screen and (min-width : 2200px){
}