.main-header{
	.bgBlack();
	.Padding(15);
	width: 100vw;
	.fixed();
	top: 0;
	z-index: 3;
}
.main-header-container{
	.relative();
	z-index: 1;
}
.main-header.scroll-head{
	&:after{
		opacity: 0;
		display: none;
	}
}
.site-branding{
	background-image: @logoS;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	direction: ltr;
	display: block;
	height: inherit;
	position: relative;
	text-indent: -999em;
	.Width(33);
	.Height(33);
	position: relative;
	margin: 0;
	.MarginTop(15);
	z-index: 4;
}
@media screen and (min-width : 576px){

}
@media screen and (min-width : 768px){
	.site-branding{
		background: @logoL;
		.Height(33);
		margin: 0;
		.Width(139);
	}
}
@media screen and (min-width : 992px){
}
@media screen and (min-width : 1200px){
}
@media screen and (min-width : 1400px){
}