.navigation-container{
	.bgBlack();
	.absolute();
	height: 100vh;
	opacity: 0;
	right: 0;
	.transformX(@x:100%);
	.Top(-15);
	.Padding(60);
	.WidthP(100);
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out); 
}
.navigation-container.open{
	.transformX(@x:0);
	opacity: 1;
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out); 
}
.menu-open,
.menu-close{
	.bgWhite();
	.border-radius(@rad:50%);
	border: 1px solid;
	.Height(34);
	.Width(34);
	i{
		.fBlack();
		&:before{
			color: inherit;
		}
	}
	span{
		direction: ltr;
		height: 0;
		text-indent: -999em;
	}
}
.menu-close{
	.absolute();
	.Bottom(15);
	.Right(15);
	
}

@media screen and (min-width : 576px){
}
@media screen and (min-width : 768px){
	.navigation-container{
		.transformX(@x:205%);
		.Width(385);
	}
	.navigation-container.open{
		.transformX(@x:405px);
	}
	.menu-close{
		.Top(15);
	}
}
@media screen and (min-width : 992px){
}
@media screen and (min-width : 1200px){
}
@media screen and (min-width : 1400px){
}
@media screen and (min-width : 1800px){
}
@media screen and (min-width : 2200px){
}