.navigation-container{
	.bgBlack();
	.fWhite();
	.absolute();
	height: 100vh;
	opacity: 0;
	right: 0;
	.transformX(@x:100%);
	.Top(-15);
	.Padding(60);
	.WidthP(100);
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	li{
		color: inherit;
		a{
			color: inherit;
			&:hover,
			&:focus{
				color: inherit;
			}
		}
	} 
	
	// RAJOUT
	
	.nav-site {
		
		a {
			margin: 15px auto;
		}
		
		dl.menu-menu-header {
			margin-top: 60px;
			
			.header-nav-element {
				display: flex;
				align-items: center;
				margin-bottom: 20px;
					
				i {
					background-color: white;
					border-radius: 100%;
					margin-right: 25px;
					color: #333333;
					padding: 4px;
					height: 100%;
				}
				
				.header-nav-element-text {
					display: flex;
					flex-direction: column;
				}
			}
			
		}
	}
	
	// FIN RAJOUT
	
	
}
.navigation-container.open{
	.transformX(@x:0);
	opacity: 1;
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out); 
}
.menu-open,
.menu-close{
	.bgWhite();
	.border-radius(@rad:50%);
	border: 1px solid;
	.Height(34);
	.Width(34);
	i{
		.fBlack();
		display: flex;
		&:before{
			color: inherit;
		}
	}
	span{
		direction: ltr;
		height: 0;
		text-indent: -999em;
	}
}
.menu-close{
	.absolute();
	.Bottom(15);
	.Right(15);
	
}

@media screen and (min-width : 576px){
}
@media screen and (min-width : 768px){
	.navigation-container{
		.transformX(@x:205%);
		.Width(385);
	}
	.navigation-container.open{
		.transformX(@x:405px);
	}
	.menu-close{
		.Top(15);
	}
}
@media screen and (min-width : 992px){
}
@media screen and (min-width : 1200px){
}
@media screen and (min-width : 1400px){
}
@media screen and (min-width : 1800px){
}
@media screen and (min-width : 2200px){
}