/*------------------------------
GLOBAL
--------------------------------*/
*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:focus {
	outline: none;
	}
}
*::-moz-focus-inner{
border: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	.fWhite();
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	&:hover,
	&:focus,
	&:active{
		.fBlack();
	}
}
p{
	strong{
		.FB();
	}
	a{
		.fOrange();
		text-decoration: underline;
	}
}
.site-main{
	margin: 0;
}
.site-inner{
	margin: 0 auto;
}

.home{
	.site-main > :last-child{
	.MarginBottom(0);
}
}
.site-main > :last-child{
	.MarginBottom(0);
}
img{
	display: block;
	max-width: 100%;
	height: auto;
}

/*------------------------------
CLEARFIX
--------------------------------*/

 /*
* Clearfix: contain floats
*/

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
	*zoom: 1;
}

/*------------------------------
STRUCTURE
--------------------------------*/
body.admin-bar:not(.custom-background-image)::before{
	top: 0;
}
body:not(.custom-background-image)::before, body:not(.custom-background-image)::after{
	background: none;
}