/*------------------------------
VARIABLES CHEMIN
--------------------------------*/
@path: "../images/";
/*------------------------------
VARIABLES IMAGES
--------------------------------*/
@logoS: url("@{path}svg/volant-seminaire-logo-s.svg") no-repeat center top;
@logoL: url("@{path}svg/volant-seminaire-logo-l.svg") no-repeat center top;
@logoXL: url("@{path}svg/volant-seminaire-logo-xl.svg") no-repeat left top;

/*------------------------------
IMPORT BASE
--------------------------------*/
@import url("import/reset.less");

@import url("import/animate.less");
@import url("import/bootstrap-grid.min.less");
@import url("import/bootstrap-spacing.less");
@import url("import/border.less");
@import url("import/button.less");
@import url("import/carousel.less");
@import url("import/clearfix.less");
@import url("import/colors.less");
@import url("import/elements.less");
@import url("import/fonts.less");
@import url("import/footer.less");
@import url("import/formulaires.less");
@import url("import/header.less");
@import url("import/images.less");
@import url("import/layout.less");
@import url("import/magnific-popup.less");

@import url("import/widgets.less");

@import url("import/main.less");
@import url("import/navigation.less");
@import url("import/pages.less");
@import url("import/posts.less");
// @import url("import/cookies.less");
/*--------------------------------
IMPORTS EXTERNES
----------------------------------*/
@import url("https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css");
/*--------------------------------
IMPORT SPÉCIFICITÉ
----------------------------------*/




/*------------------------------
PAGES
--------------------------------*/
// @import url("import/home.less");
// @import url("import/archives-pages.less");
// @import url("import/members.less");